<div class="grid-container">
  <h1 class="mat-h1">Billing options</h1>

  <div *ngIf="!isLoading; else loading">
    <div *ngIf="billingOptions.length > 0; else noData">
      <mat-card class="mat-elevation-z3" *ngFor="let option of billingOptions">
        <div class="card-item-inner">
          <span class="option-logo">
            <img [src]="getImage(option.logo)">
          </span>
          <span class="option-name">
            {{ option.name }}
          </span>
          <span>
            <button mat-flat-button color="primary" (click)="initEditProvider(option)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-flat-button color="warn" (click)="initDeleteProvider(option.id)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
        </div>
      </mat-card>
    </div>

    <ng-template #noData>
      There is no billing options here right now. <span style="font-size: 30px;">🤷‍♂️</span>
    </ng-template>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<button mat-fab color="primary" class="add-button" (click)="initAddProvider()">
  <mat-icon>add</mat-icon>
</button>
