.grid-container {
  width: 90%;
  position: relative;
  left: 20px;

  .header {

    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

  }

  button {
    margin: 15px 0;
    width: 100%;
    background-color: #1f2631 !important;
    color: #fff;
  }
}
