<div class="grid-container">
  <h1 class="mat-h1">Programs</h1>

  <div *ngIf="!isLoading; else loading">
    <mat-list role="list" class="mat-elevation-z4" *ngIf="programs.length > 0; else noData">
      <mat-list-item matRipple role="listitem" *ngFor="let program of programs">
        <div class="list-item-inner">
          <span>
            {{ program.label }}
          </span>
          <span>
            <button mat-stroked-button (click)="initEditProgram(program.id)">Edit</button>
            <button mat-stroked-button color="warn" (click)="initDeleteProgram(program.id)">Delete</button>
          </span>
        </div>
      </mat-list-item>
    </mat-list>

    <ng-template #noData>
      There is no programs here right now. <span style="font-size: 30px;">🤷‍♂️</span>
    </ng-template>
  </div>
</div>

<button mat-fab color="primary" class="add-button" (click)="initAddProgram()">
  <mat-icon>add</mat-icon>
</button>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
