
.grid-container {
  margin: 20px;

  mat-card {
    margin: 25px 0;

    div.card-item-inner {
        width: 96%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        p {
          span.option-value {
            font-size: 20px;
          }
        }

        span {
          button {
            border-radius: 50% !important;
            width: 30px;
            height: 30px;
            padding: 2px;
            min-width: 30px;
            line-height: 9px;
            margin: 0 5px;
          }
        }
      }
  }
}
